* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #fdffbd;
  background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.container {
  max-width: 1400px;
  background-color: aqua;
}
