* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #eeefd8;
  background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
@font-face {
  font-family: Fira;
  src: url(../i-have-no-idea-what-is-it/fonts/FiraMono-Regular.ttf);
}

@font-face {
  font-family: Alike;
  src: url(../i-have-no-idea-what-is-it/fonts/Alike-Regular.ttf);
}

a {
  text-decoration: none;
}
/*CONTAINER*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*HEADER*/

.header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*NAV*/
.nav {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Fira";
}

.nav-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: rgb(183, 82, 226);
  text-decoration: none;
  transition: color 0.2s linear;
  position: relative;
}

.nav-link::after {
  display: block;
  opacity: 0;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: rgb(157, 62, 198);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1px;
  transition: opacity 0.2s linear;
}
.nav-link:hover {
  color: rgb(157, 62, 198);
}

.nav-link:hover:after {
  opacity: 1;
}

.logo img {
  width: 80px;
  height: 80px;
}
